@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OpenCoolMart.Gui.Models.ProductoRequestDto

@{
    ViewData["Title"] = "Update";
}
<!DOCTYPE html>
<head>
    <link href="~/css/Producto/Producto.css" rel="stylesheet" />
</head>
<body>
    <div id="content">
        <img src="~/Img/Imagen3.png" class="ribbon">
    </div>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container-xl table-wrapper">
            <hr />
            <h1 class="text-center">Detalles</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CodigoProducto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.CodigoProducto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CodigoProducto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Clasificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Clasificacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Clasificacion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Descuento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descuento, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2">
                    <br />
                    <div class="col-md-12">
                        Status @Html.CheckBoxFor(model => model.Status)
                    </div>
                </div>

            </div>

            <div class="form-group form-row">
                <div class="col-md-4"></div>
                <input type="submit" value="Actualizar" class="btn btn-primary col-md-2" style="margin:10px" onclick="validarStatus()"/>
                <a onclick="validarcampos()" asp-controller="Producto" asp-action="Index" class="btn btn-danger col-md-2" style="margin:10px" >Cancelar</a>
            </div>

        </div>
    }

</body>

@section Scripts{
    <script>
        var modificar;
        $(document).ready(function () {
            $("input,select").change(function () {
                modificar = true;
            });
        });
       
        var estatus = $("#Status").is(":checked")
        function validarcampos() {
            if (modificar) {
                if (confirm('¿Estas seguro de querer descartar los cambios?') == false) {
                    event.stopPropagation();
                    event.preventDefault();
                    return false
                }
                return true
            }                
        }
        
        function validarStatus() { 
            var nuevoestatus = $("#Status").is(":checked")
            if (estatus ==true && nuevoestatus == false) {
                if (confirm('¿Estas seguro de desactivar este producto?') == false) {
                    event.stopPropagation();
                    event.preventDefault();
                    return false
                }
                return true
            }
            if (estatus==false && nuevoestatus == true) {
                if (confirm('¿Estas seguro de reactivar este producto?') == false) {
                    event.stopPropagation();
                    event.preventDefault();
                    return false
                }
                return true
            }
        }
    </script>
}