@model OpenCoolMart.Domain.DTOs.FacturaRequestDto
@{
    ViewData["Title"] = "Factura ";
    //obtiene ventas
    List<SelectListItem> ventas = (List<SelectListItem>)ViewBag.Ventas;
    //obtiene clientes
    List<SelectListItem> clientes = (List<SelectListItem>)ViewBag.Clientes;
    //Obtiene los Usos de CFDI
    List<SelectListItem> UsosCFDI = (List<SelectListItem>)ViewBag.UsosCFDI;
}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Bootstrap Simple Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="~/css/Empleado/Create.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container-xl table-wrapper">
            <hr />
            <h1 class="text-center">Detalles</h1>

            <div class="form-group">
                @Html.LabelFor(model => model.Folio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Folio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Folio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClienteId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.ClienteId, clientes, "Selecciona...", new { htmlAttributes = new { @class = "form-control col-md-2" } })
                    @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
                </div>
            </div>
            @*DATOS DEL CLIENTE*@
            <div class="form-group form-row">
                <div class="col-md-3">
                    <Label>Correo</Label>
                    <input id="Correo" type="text" readonly />
                </div>
                <div class="col-md-3">
                    <Label>Domicilio</Label>
                    <input id="Domicilio" type="text" readonly class="form-control" />
                </div>
                <div class="col-md-3">
                    <Label>RFC</Label>
                    <input id="RFC" type="text" readonly class="form-control" />
                </div>
                <div class="col-md-3">
                    <Label>Telefono</Label>
                    <input id="Telefono" type="text" readonly class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.VentaId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.VentaId, ventas, "Selecciona...", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.ValidationMessageFor(model => model.VentaId, "", new { @class = "text-danger" })
                </div>
            </div>

            @*DATOS DE La Venta*@
            <div class="form-group form-row">
                <div class="col-md-3">
                    <Label>Folio de venta</Label>
                    <input id="folio" type="number" readonly class="form-control" />
                </div>
                <div class="col-md-3">
                    <Label>Subtotal</Label>
                    <input id="subtotal" type="number" readonly class="form-control" />
                </div>
                <div class="col-md-3">
                    <Label>Iva</Label>
                    <input id="iva" type="number" readonly class="form-control" />
                </div>
                <div class="col-md-3">
                    <Label>Total</Label>
                    <input id="total" type="number" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-4">

                    @Html.LabelFor(model => model.UsoCFDI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.UsoCFDI, UsosCFDI, "Selecciona...",  htmlAttributes: new { @class = "form-control" } )

                        @Html.ValidationMessageFor(model => model.UsoCFDI, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group form-row">
                <div class="col-md-4"></div>
                <input type="submit" value="Crear Factura" class="btn btn-primary col-md-2" style="margin:10px" />
                <a asp-controller="Factura" asp-action="Index" class="btn btn-danger col-md-2 text-white" style="margin:10px">Cancelar</a>
            </div>

        </div>
    }
    @*//Detalles de venta*@
    @*<div id="tablaventa">
        <table class="table table-striped table-hover table-bordered card">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo de producto</th>
                    <th>Descripcion</th>
                    <th>Cantidad </th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>*@
</body>

</html>
<script type="text/javascript">
    //Obtiene el id del cliente
    var comboCli = document.getElementById("ClienteId");
    var comboVen = document.getElementById("VentaId");
    comboCli.addEventListener("change", RefreshCliente);
    comboVen.addEventListener("change", RefreshVenta);
    //llena los datos del cliente
    function RefreshCliente() {
        //obtiene el cliente
        fetch("https://localhost:44315/api/cliente/" + comboCli.value)
            .then(function (result) {
                //comprueba si el servidor responde 200
                if (result.ok) {
                    //retorna el resultado en un archivo json
                    return result.json();
                }
                else {
                    alert("Algo a ocurrido: " + result.status);
                }
            })
            .then(function (data) {
                //RELLENA LOS INPUT CON LOS DATOS DEL CLIENTE
                Domicilio = document.getElementById("Domicilio");
                RFC = document.getElementById("RFC");
                Telefono = document.getElementById("Telefono");
                Correo = document.getElementById("Correo");
                $.each(data, function (index, obj) {
                    Domicilio.value = obj.domicilio;
                    RFC.value = obj.rfc;
                    Telefono.value = obj.telefono;
                    Correo.value = obj.correo;
                });
            })
        
    }
    function RefreshVenta() {
        fetch("https://localhost:44315/api/venta/" + comboVen.value)
            .then(function (result) {
                //comprueba si el servidor responde 200
                if (result.ok) {
                    //retorna el resultado en un archivo json
                    return result.json();
                }
                else {
                    alert("Algo a ocurrido: " + result.status);
                }
            })
            .then(function (data) {
                //RELLENA LOS INPUT CON LOS DATOS DEL CLIENTE
                subtotal = document.getElementById("subtotal");
                folio = document.getElementById("folio");
                iva = document.getElementById("iva");
                total = document.getElementById("total");
                $.each(data, function (index, obj) {
                    console.log(obj);
                    subtotal.value = obj.subTotal;
                    iva.value = obj.iva;
                    total.value = obj.ventaTotal;
                    folio.value = obj.folio;
                    console.log(obj.detallesVentas);
                //LLenarTablaProductos(obj.detallesVentas.producto);

                });
            })

    }
    //function LLenarTablaProductos(data) {
    //    $('#tablaventa tbody tr').remove();
    //    var cadena;
    //    console.log(data);
    //    $.each(data, function (index, obj) {
    //        cadena = "<tr>"
    //        cadena = cadena + "<td>" + obj.codigoProducto + "</td>";
    //        cadena = cadena + "<td>" + obj.descripcion + "</td>";
    //        cadena = cadena + "<td>" + obj.descuento + "</td>";
    //        cadena = cadena + "<td>" + obj.precio + "</td>";
    //        cadena = cadena + "<td>";
    //        $("#tablaventa").append(cadena);
    //    });
    //}
</script>
