@model OpenCoolMart.Gui.Models.EmpleadoUsuarioModel
@{
    ViewData["Title"] = "Empleado ";
    List<SelectListItem> Perfiles = ViewBag.Perfiles;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Bootstrap Simple Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="~/css/Empleado/Create.css" rel="stylesheet" />
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container-xl table-wrapper card">
            <div class="text-center card-title">
                <h1> Crear empleado</h1>
            </div>
        <h2 class="text-danger text-center">@ViewData["Error"]</h2>
        <div class="form-group form-row">
            @Html.LabelFor(model => model.Empleado.CodigoEmpleado, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Empleado.CodigoEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Empleado.CodigoEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group form-row">
            @Html.LabelFor(model => model.Empleado.Nombre, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Empleado.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Empleado.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group form-row">
                <div class="col-md-6">
                @Html.LabelFor(model => model.Empleado.Telefono, htmlAttributes: new {@class = "control-label"})
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Empleado.Telefono, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Empleado.Telefono, "", new {@class = "text-danger"})
                </div>
            </div>
            
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Usuario.Correo, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Usuario.Correo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Usuario.Correo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Usuario.Contrasenia, htmlAttributes: new {@class = "control-label"})
                    <div class="col-md-12">
                        @Html.PasswordFor(model => model.Usuario.Contrasenia, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Usuario.Contrasenia, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Usuario.PerfilId, htmlAttributes: new {@class = "control-label"})
                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.Usuario.PerfilId, Perfiles, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Usuario.PerfilId, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <label class="control-label">Activo</label><input type="radio" value="Activo" checked=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-4"></div>
                <input type="submit" value="Crear Empleado" class="btn btn-primary" style="margin:10px" />
                <a asp-controller="Empleado" asp-action="Index" class="btn btn-danger text-white" style="margin:10px">Cancelar</a>
            </div>
        </div>
}
</body>
</html>

