@model List<OpenCoolMart.Domain.DTOs.EmpleadoResponseDto>
@{
    ViewData["Title"] = "Menu Empleado";
}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/Empleado/Index.css" rel="stylesheet" />
</head>
<body>
    <div id="content">
        <img src="~/img/Imagen3.png" class="ribbon">
    </div>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Menu <b>Empleados</b></h2></div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input id="empleado" type="number" class="form-control" placeholder="Buscar Empleado">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabla">
                    <table id="tablaempleado" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre </th>
                                <th>Telefono </th>
                                <th>Fecha de contratación</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FechaContratacion)</td>
                                    <td>
                                        <a asp-controller="Empleado" asp-action="Details" asp-route-id="@item.Id" class="view" title="Ver" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                        <a asp-controller="Empleado" asp-action="Update" asp-route-id="@item.Id" class="edit" title="Editar" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <a asp-controller="Home" asp-action="Menu" class="btn btn-primary btn-lg  btn-block">Menú</a>
                </div>
                <div class="form-group">
                    <a asp-controller="Empleado" asp-action="Create" class="btn btn-success btn-lg btn-block">Agregar Empleado</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
@section Scripts{
    <script>
        var tecla_enter;
        function press_Enter() {
            tecla_enter = event.keyCode;
            if (tecla_enter == 13) {

                var CodeEmpleado = $("#empleado").val();
                if (CodeEmpleado != null && CodeEmpleado.length != 0) {
                    $.ajax({
                        url: "https://localhost:44315/api/empleado/emp/" + CodeEmpleado,
                        method: "GET"
                    }).done(function (data) {
                        if (data.data == null)
                            alert("Este empleado no existe")
                        else {
                            Buscar(data.data);
                        }
                    }).fail(function (jqXHR, textStatus, error) {
                        alert('lo sentimos ha habido un error: '+error);
                    });
                }
                else {
                    $.ajax({
                        url: "https://localhost:44315/api/empleado",
                        method: "GET"
                    }).done(function (data) {
                        if (data.data == null)
                            alert("No hay empleados registrados")
                        if (data.data != null)
                            Llenartabla(data.data);
                    }).fail(function (jqXHR, textStatus, error) {
                        alert("lo sentimos ha habido un error");
                    });
                }

            }
        }
        document.addEventListener('keydown', press_Enter);

        function Buscar(data) {
            $('#tablaempleado tbody tr').remove();
            var cadena;
            console.log(data.data);
            cadena = "<tr>"
            cadena = cadena + "<td>" + data.id + "</td>";
            cadena = cadena + "<td>" + data.nombre + "</td>";
            cadena = cadena + "<td>" + data.telefono + "</td>";
            cadena = cadena + "<td>" + data.fechaContratacion + "</td>";
            cadena = cadena + "<td>" +
                "<a href='/empleado/Details/" + data.id + "' class='view' title='Ver' data-toggle='tooltip'><i class='material-icons'>&#xE417;</i></a>" +
                "<a href='/empleado/Update/" + data.id + "' class='edit' title='Editar' data-toggle='tooltip'><i class='material-icons'>&#xE254;</i></a>"
                + "</td>";

            $("#tablaempleado").append(cadena);
        }
        function Llenartabla(data) {
            $('#tablaempleado tbody tr').remove();
            var cadena;
            $.each(data, function (index, obj) {
                cadena = "<tr>"
                cadena = cadena + "<td>" + obj.id + "</td>";
                cadena = cadena + "<td>" + obj.nombre + "</td>";
                cadena = cadena + "<td>" + obj.telefono + "</td>";
                cadena = cadena + "<td>" + obj.fechaContratacion + "</td>";
                cadena = cadena + "<td>" +
                    "<a href='/empleado/Details/" + obj.id + "' class='view' title='Ver' data-toggle='tooltip'><i class='material-icons'>&#xE417;</i></a>" +
                    "<a href='/empleado/Update/" + obj.id + "' class='edit' title='Editar' data-toggle='tooltip'><i class='material-icons'>&#xE254;</i></a>"
                    + "</td>";

                $("#tablaclientes").append(cadena);
            });
        }
    </script>
}